
 body{
   background: rgb(2,0,36);
 background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin:0;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
img {
  height: auto;
    width: auto;
}
.p1{
  color: black;
}
p{
  color: white;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}
h1{
  line-height: 2;
  font-size: 4.375em;
  margin: 50px auto 0 auto;
}
h2{
  color: white;
  font-family: helvectica,sans-serif;

}
h3{
  color: white;
  font-family: helvectica,sans-serif;

}
.pro-pic{
  border-radius: 50%;
  width:145px;
  height: 145px;
}
p{
  font-family: Helvetica,sans-serif;
}
.web {
  text-decoration: underline;
}
.middle-container{
  border-radius: 50%;
  margin: auto;
  text-align: center;
}
.top-cloud {
    position:absolute;
    right: 500px;
    top: 55px;
  }
.bottom-cloud
{
  position: absolute;
  top:217px;
}
.skill-row{
  margin: auto;
}
.footer-link
{
  font-family: Helvetica,sans-serif;

}
a{
  font-family: Helvetics,sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: white;
}
.contact-me
{
  color: white;
  font-family: Helvetica,sans-serif;
  text-align: center;
}
.bottom-container{
  text-align: center;
}
.Giphy{
  border-radius: 50%;
}
.btn {

	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:auto -1px auto #5b6178;
}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
